/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}

.doc-heading code {
  font-size: large !important;
  background-color: transparent !important;
}

:root {
  --md-primary-fg-color:        #3DADBB;
  --md-primary-fg-color--light: #F0D167;
  --md-primary-fg-color--dark:  #615934;
}

